html, body {
  background: grey;
}

.container {
  background: grey;
  margin: 30px;
}

.game-btn {
  height: 300px;
  width: 300px;
  border: 2px solid grey;
  border-radius: 10px;
}

#btn1 {
  background: red;
}

#btn2 {
  background: blue;
}

#btn3 {
  background: yellow;
}

#btn4 {
  background: green;
}
