html, body {
  color: white;
  background: #404040;
}

h3 {
  display: inline;
  margin-right: 10px;
}

.container {
  background: #404040;
}

#scorebox {
  text-align: right;
  height: 60px;
  width: 500px;
  position: relative;
  right: 0;
  text-algin: right;
}

#failbox {
  color: red;
  position: fixed;
  margin-left: 100px;
  z-index: 2;
  width: 300px;
  text-align: center;
  margin-top: 10%;
}

#failtext {
  font-size: 40px;

}

.game-box {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.row {
  margin: 0;
}

.game-btn {
  height: 230px;
  width: 230px;
  border-radius: 1000px;
  box-shadow: 0 0 20px black;
  margin: 10px;
}

.game-btn:active {
  border: 4px solid white;
}

.btn-start {
  position: absolute;
  font-size: 50px;
  width: 500px;
  height: 500px;
  border-radius: 125px;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}

.btn-start:hover {
  color: white;
  text-shadow: 0 0 10px cyan;
}

#btn1 {
  background: #850000;
}

#btn2 {
  background: #004985;
}

#btn3 {
  background: #7A8500;
}

#btn4 {
  background: #056E00;
}

#btn1b {
  background: red;
}

#btn2b {
  background: #00D5FF;
}

#btn3b {
  background: yellow;
}

#btn4b {
  background: #00FF26;
}
