html, body {
  background: grey;
}

.container {
  background: grey;
  margin: 30px;
}

.game-btn {
  height: 300px;
  width: 300px;
  border: 2px solid grey;
  border-radius: 10px;
}

#btn1 {
  background: #850000;
}

#btn2 {
  background: #004985;
}

#btn3 {
  background: #7A8500;
}

#btn4 {
  background: #056E00;
}

#btn1b {
  background: red;
}

#btn2b {
  background: #00D5FF;
}

#btn3b {
  background: yellow;
}

#btn4b {
  background: #00FF26;
}
